# This is a basic workflow to help you get started with Actions

name: Docker CD

on:
  push:
    branches: 
      - dev
  pull_request:
    branches: 
      - dev
    types: [opened, synchronize, reopened]
jobs:
  code-test:
  # Kicks off the workflow and prepares Github to run coverage test using a ubuntu-latest container.
    name: Code-Test/Coverage  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.20'

      - name: Install dependencies
        run: yarn install
      
      - name: Run Jest tests
        run: npm run test:unit
        
  build:
    # requires dependency from step above
    needs: code-test
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: 'true'
    
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
        IMAGE_TAG: latest
      run: |
        echo "Cloning openlxp-private repository"
        # git clone https://openlxp-host:${{ secrets.ACCESS_TOKEN }}@github.com/OpenLXP/openlxp-private.git
        # echo "Private repository cloned successfully"
        # echo "Copying .env for mmt-portal from openlxp-private to current working directory"
        # cp ./openlxp-private/mmt-portal-env/.env .
        # echo "Copied .env file successfully"
        echo "Starting docker build"
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        echo "Pushing image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
